@import "_normalise";

@mixin no-selection {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
}

h1 {
    @include no-selection;
    z-index: 10;
    position: absolute; /* otherwise scrollbars appear D: */
}

