@import "_normalise";

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
}

h1 {
    z-index: 10;
    position: absolute; /* otherwise scrollbars appear D: */
}